<nav>

    <ul style="display: flex; justify-content: start; list-style: none;">

        <li><a href="/">Home</a>&nbsp;</li>

        <li><a href="/pessoas">Pessoas</a>&nbsp;</li>

        <li><a href="/cachorros">Cachorros</a>&nbsp;</li>

        <li><a href="/quadros">Quadros</a>&nbsp;</li>

    </ul>

</nav>